.home__header {
  background-image: url("/home_header_bg.jpg");
  background-position: center;
  background-size: cover;
  @apply  min-h-[80vh] bg-primary/60 flex items-stretch justify-center;
}

main > section:nth-child(even) {
  @apply bg-primary/15;
}

main > section:nth-child(n+2) {
  @apply py-20;
}

main > section:last-child {
  @apply mb-0;
}
